* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.ms_ul {
    list-style-type: none;
}

.navbar-brand img {
    width: 50px;
}

.position_main {
    position: relative;
}

.containerInput {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}


.errorMessage {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: